<h1>Editing <%= @person.first_name %> <%= @person.last_name %></h1>

<%= render 'form' %>

<ul class="actions">
  <li><%= link_to 'Show', @person %> </li>
  <li><%= link_to 'Back', people_path %></li>
</ul>

