<h1>Listing People</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>

  <% @people.each do |person| %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <ul>
        <li><%= link_to 'Show', person %></li>
        <li><%= link_to 'Edit', edit_person_path(person) %></li>
        <li><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </tr>
  <% end %>

</table>

<br>

<%= link_to 'New Person', new_person_path %>
