<div class="person">
  <h1><%= @person.first_name %>, <%= @person.last_name %></h1>
  <%= render 'phone_numbers/phone_numbers', phone_numbers: @person.phone_numbers %>

  <%= render 'email_addresses/email_addresses', email_addresses: @person.email_addresses %>

<ul>
  <li><%= link_to 'Add phone number', new_phone_number_path(contact_id: @person.id, contact_type: 'Person') %></li>
  <li><%= link_to 'Add email address', new_email_address_path(contact_id: @person.id, contact_type: 'Person') %></li>
  <li><%= link_to 'Edit', edit_person_path(@person) %></li>
  <li><%= link_to 'Back', people_path %></li>
</ul>

</div>


