<ul>
  <% phone_numbers.each do |phone| %>
    <li>
      <%= phone.number %>
      <%= link_to('edit', edit_phone_number_path(phone)) %> | 
      <%= link_to('delete', phone_number_path(phone), method: :delete) %>
    </li>
  <% end %>
</ul>