<ul>
  <% email_addresses.each do |email| %>
    <li>
      <%= email.address %>
      <%= link_to('edit', edit_email_address_path(email)) %> | 
      <%= link_to('delete', email_address_path(email), method: :delete) %>
    </li>
  <% end %>
</ul>